<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is the home page</h1>
    <h3><%= 1+3+4+5+2%></h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis dolorem natus excepturi at. Quos ea similique recusandae quam, itaque voluptatibus nobis quia quae, placeat hic minima commodi ex dolore. Commodi.</p>
    <button>Click Me!</button>
</body>
</html>